%nav.navbar.navbar-default
  .container-fluid.navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
      .navbar-brand Welcome #{current_user.username}
    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to 'View profile', edit_user_registration_path
            / = link_to "New Post", new_post_path
          %li
            = link_to 'View Post', posts_path
          %li
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Sign In", new_user_session_path, :method => :get
          %li
            = link_to "Sign Up", new_user_registration_path, :method => :get
.panel.panel-default
  .panel-heading Friends List:
  %table.table-hover.table-condensed
    - @users.each do |user|
      -binding.pry
      - if user != current_user && user.pending && !current_user.pending.include?(user) && !current_user.active_friends.include?(user) && !current_user.received_friends.include?(user)
        %tr
          %td= user.username
          %td= link_to "Add Friend", friendships_path(friend_id: user), method: :post

.panel.panel-default
  .panel-heading Your awaiting friend requests:
  %table.table-hover.table-condensed
    - current_user.requested_friendships.each do |request|
      -unless current_user.active_friends.include?(request)
        %tr
          %td= request.username
          %td= link_to "Accept",  friendship_path(id: request.id), method: "put"
          / %td= link_to "Accept",  friendship_path(friend_id: request.pending.first.id, user_id: request.id), method: "put"
          %td= link_to "Decline", friendship_path(id: request.id), method: :delete

.panel.panel-default
  .panel-heading Your sent friend requests:
  %table.table-hover.table-condensed
    - current_user.pending_friends.each do |request|
      %tr
        %td= request.username
        / = link_to "Accept",  friendship_path(id: request.id), method: "put"
        %td= link_to "Decline", friendship_path(id: request.id), method: :delete
    / - current_user.requested_friendships.each do |request|
    /   %tr
    /     %td= request.username
    /     / = link_to "Accept",  friendship_path(id: request.id), method: "put"
    /     %td= link_to "Decline", friendship_path(id: request.id), method: :delete

.panel.panel-default
  .panel-heading Active users:
  %table.table-hover.table-condensed
    - current_user.active_friends.each do |request|
      %tr
        %td= request.username
        / = link_to "Accept",  friendship_path(id: request.id), method: "put"
        %td= link_to "Decline", friendship_path(id: request.id), method: :delete
    - current_user.received_friends.each do |request|
      %tr
        %td= request.username
        / = link_to "Accept",  friendship_path(id: request.id), method: "put"
        %td= link_to "Decline", friendship_path(id: request.id), method: :delete

