%nav.navbar.navbar-default
  .container-fluid.navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          .navbar-brand Welcome #{current_user.name}
          %li
            = link_to 'View Post', posts_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Account
              %b.caret
            %ul.dropdown-menu

              %li= link_to "Settings", edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Log out", logout_path, method: "delete"
        - else
          %li= link_to "Log in", login_path, :method => :get
          %li= link_to "Sign Up", logout_path, :method => :get
.panel.panel-default
  .panel-heading Friends List:
  %table.table-hover.table-condensed
    - @users.each do |user|
      - if user != current_user && user.pending && !current_user.pending.include?(user) && !current_user.active_friends.include?(user) && !current_user.received_friends.include?(user)
        %tr
          %td= user.email
          %td= link_to "Add Friend", friendships_path(friend_id: user), method: :post

.panel.panel-default
  .panel-heading Your awaiting friend requests:
  %table.table-hover.table-condensed
    - current_user.requested_friendships.each do |request|
      -unless current_user.active_friends.include?(request)
        %tr
          %td= request.email
          %td= link_to "Accept",  friendship_path(id: request.id), method: "put"
          %td= link_to "Decline", friendship_path(id: request.id), method: :delete

.panel.panel-default
  .panel-heading Your sent friend requests:
  %table.table-hover.table-condensed
    - current_user.pending_friends.each do |request|
      %tr
        %td= request.email
        %td= link_to "Decline", friendship_path(id: request.id), method: :delete

.panel.panel-default
  .panel-heading Active users:
  %table.table-hover.table-condensed
    - current_user.active_friends.each do |request|
      %tr
        %td= request.email
        %td= link_to "Decline", friendship_path(id: request.id), method: :delete
    - current_user.received_friends.each do |request|
      %tr
        %td= request.email
        %td= link_to "Decline", friendship_path(id: request.id), method: :delete
