/ %h2 Log in
/ = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true
/   .field
/     = f.label :password
/     %br/
/     = f.password_field :password, autocomplete: "off"
/   - if devise_mapping.rememberable?
/     .field
/       = f.check_box :remember_me
/       = f.label :remember_me
/   .actions
/     = f.submit "Log in"
/ = render "devise/shared/links"
.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      %h1.text-center.login-title Sign in to continue
      .account-wall
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field.form-group
            = f.text_field :username, autofocus: true, placeholder: "Enter name", class: 'form-control'
          .field.form-group
            = f.email_field :email, autofocus: true, placeholder: "Email", class: 'form-control'
          .field.form-group
            = f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'form-control'
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
          = f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block'
        = render "devise/shared/links"